{% extends "base.html.twig" %}
{% block title %}a propos{% endblock %}
{% block body%}
<fieldset style ="width : 90%;">
    <legend><h2 >A propos de nous:</h2></legend>
    <p >Le site présent est la proprieté de societé DotIt 
    developpé par Ahmed Souleimen Jguirim pour un stage d'été sous l'encadrememnt 
    d'un developpeur de cette societé , ce site est destiné a vendre des produits 
    enligne , pour le moment des produits informatiques, et le but essenciel de la 
    création de ce projet est de developper 
    les competences de son créateur dans le domaine de developpement web.</p>
</fieldset>
{% endblock %}