{% extends "base.html.twig" %}
{% block body %}
<div class="container">
<fieldset >
<legend><h3>payer via :</h3></legend> <a href="{{ path('paypal')}}" ><i class="fab fa-cc-paypal fa-3x" ></i></a>
</fieldset>
</div>
{% endblock %}