{% extends "base.html.twig" %}
{% block title %}succées{% endblock %}
{% block body%}
<div class="container">
    <h2 style="text-align: center;">Commande passé avec succées, <a href={{path("root")}}>retourner a la page d'acceuil</a></h2>
</div>
{% endblock %}